
body{
    background-color:#233749;
}

.add-scroll-bar{
    overflow: auto;
    margin: 0;
    padding: 0;
    scroll-margin: 0;
}
.navbar{
    margin-bottom: 0 !important;
}

table{
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px !important;
}

thead, tbody{
    background-color:  rgb(210, 211, 224);
    color:black;
}

.deneigus-header{
    background-color:rgb(19, 87, 155);
    color:White;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.first-row{
    margin-top: 10px !important;
}

.mp0-top{
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.padding-LR-0{
    padding-right:5px !important;
    padding-left:5px !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.div-background_image{
    background-image: url('../images/snow_background.jpeg');
    background-color: #313131;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
    }
}

