.battery {
    color: rgb(241, 84, 22);
    position: relative;
    top: 14%;
    left: 35%;

}

mat-label.battery {
    font-size: 100px;
  }

.mapDiv{
    position: absolute;
    height: 100%;
    width: 100%;
}

google-map.map {
    position: absolute;
    top: 0;
  size: 700px;
  height: 100%;
  width: 100%;
}