

  

.progressBar {
    position: relative; /* or absolute */
    top: 20%;
    left: 25%;
    height: 300px;
    width: 200px;
   
  }
  .terminal {
    position: relative; /* or absolute */
    top: 20%;
    left: 25%;
    height: 300px;
    width: 50%;
   
  }